@use '../../styles/variables' as *;

.card {
    background-color: $bg-default;

    &:hover {
        box-shadow: 0 0 20px 0 $color-card-shadow;
    }
}

.card__body {
    padding: 18px 30px 30px;
}

.card__title {
    margin-bottom: 18px;
    text-align: center;
}

.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: $bg-tertiary;
}

.card__table {
    margin-bottom: 30px;
    font-size: 14px;

    dt {
        font-weight: 700;
    }
    
    dd {
        margin-left: 0;
    }
}

.card__table-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 6px 0 9px;
    border-bottom: 1px solid $color-card-border;
}

@media (min-width: $screen-sm) {
    .card__table {
        font-size: 16px;
    }
}

@media (min-width: $screen-md) {
    .card__table {
        font-size: 18px;

        dd {
            font-size: 16px;
        }
    }
}

