@use '../../styles/variables' as *;

.page-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $bg-default;
}

.page-header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: center;
}

.page-header__logo {
    padding: 17px 0;
}

.page-header__right-col {
    display: flex;
    align-items: center;
    justify-content: right;
}

.page-header__address {
    grid-column: span 3;
}

.page-header__phone {
    font-family: Oswald, Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    font-style: normal;
    color: inherit;
    text-decoration: none;
}

.page-header--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px $color-shadow;
}

@media (max-width: calc($screen-md - 1px)) {
    .page-header__phone {
        display: none;
    }
}

@media (min-width: $screen-md) {
    .page-header__phone-button {
        display: none;
    }
}

@media (max-width: calc($screen-lg - 1px)) {
    .page-header__address {
        margin-right: 10px;
    }
}

@media (min-width: $screen-lg) {
    .page-header__content {
        grid-template-columns: repeat(12, 1fr);
    }

    .page-header__logo {
        grid-column: span 3;
    }

    .page-header__nav {
        grid-column: span 6;
    }

    .page-header__right-col {
        grid-column: span 9;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        column-gap: 30px;
    }

    .page-header__address {
        text-align: right;
    }

    .page-header__menu-button {
        display: none;
    }
}