@use 'variables' as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $color-page-bg;
}

main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h3 {
  font-size: 30px;
  line-height: 1.05;
}


.link {
  position: relative;
  padding: 0;
  color: $color-link;
  background: none;
  border: none;
  border-bottom: 1px dashed $color-link;
  transition: color 0.2s, border-color 0.2s;

  &:hover {
    color: $color-link-hover;
    border-bottom-color: $color-link-hover;
  }

  &:focus {
    outline: 2px dashed $color-text-contrasting;
  }

  &[type="button"] {
    font-size: 1em;
  }
}

.raw-content {
  p,
  ul,
  ol {
    margin-top: 0;
  
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}


/**
* Классы-хелперы
*/

.text-small {
  font-size: rem(13px, $fs-base);
  line-height: 1.231;
  color: $color-text-contrasting;

  &--warning {
    color: $color-text-warning;
  }
}

.hidden {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
