@use 'variables' as *;

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pt-sans/pt-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pt-sans/pt-sans-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pt-sans/pt-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pt-sans/pt-sans-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald/oswald-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald/oswald-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald/oswald-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 1em;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 400;
}
