@use '../../styles/variables' as *;

.features {
    padding: 0;
    list-style: none;
}

.features__item {
    text-align: center;

    &::before {
        content: "";
        display: block;
        width: 55px;
        height: 55px;
        margin: 0 auto 15px;
        background-color: $color-feature-icon-bg;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.features__item--hardness {
    &::before {
        background-image: url('../../img/feature-icon-1.svg');
    }
}

.features__item--frost-resistance {
    &::before {
        background-image: url('../../img/feature-icon-2.svg');
    }
}

.features__item--low-abrasion {
    &::before {
        background-image: url('../../img/feature-icon-3.svg');
    }
}

.features__item--environmental-friendliness {
    &::before {
        background-image: url('../../img/feature-icon-4.svg');
    }
}

.features__title {
    margin-bottom: 15px;
}

.features__text {
    margin: 0;
}

@media (max-width: calc($screen-md - 1px)) {
    .features__item {
        padding: 30px;
        color: $color-text;
        background-color: $color-feature-bg;
        border-radius: 5px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    .features__item-content {
        max-width: 425px;
        margin: 0 auto;
    }
}

@media (min-width: $screen-md) {
    .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 40px;
    }

    .features__item {
        &::before {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
    }
}

@media (min-width: $screen-xl) {
    .features {
        grid-template-columns: repeat(4, 1fr);
    }
}