@use 'variables' as *;

.container {
  max-width: 1360px;
  min-width: $screen-xs;
  padding: 0 20px;
  margin: 0 auto;
}

.text-container {
  max-width: 848px;
}

@media (min-width: $screen-md) {
  .text-container {
    padding-left: 45px;
  }
}

@media (min-width: $screen-xl) {
  .container {
    padding: 0 70px;
  }
}
