@use '../../styles/variables' as *;

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: $bg-secondary;
    border: none;
    border-radius: 5px;
}

.icon-button_large {
    width: 43px;
    height: 43px;
}

.icon-button_ghost {
    background-color: transparent;
    border: 2px solid $color-button-border;
}