doctype html
html.document(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Вибролит — тротуарная плитка высокого качества
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
    link(rel="stylesheet" href="styles/main.min.css")
    link(rel="manifest" href="/manifest.webmanifest")
    link(rel="icon" href="/favicon.ico" sizes="32x32")
    link(rel="icon" href="/icon.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    //- link(rel="preload" href="fonts/exo2-thin/exo2-thin.woff2" as="font" type="font/woff2" crossorigin)

  body.document__content
    header.page-header.js-page-header
      div.container
        div.page-header__content
          a.logo.page-header__logo(href="/")
            img(src="img/logo.svg" alt="" width="44" height="49")

            span.logo__text Вибролит

          .page-header__right-col
            nav.main-nav.page-header__nav.js-main-nav
              ul.main-nav__list 
                li.main-nav__item
                  a.main-nav__link.js-main-nav-link(href="#technology") 
                    span.main-nav__link-number 01.
                    | Технология

                li.main-nav__item
                  a.main-nav__link.js-main-nav-link(href="#advantages")
                    span.main-nav__link-number 02.
                    | Преимущества

                li.main-nav__item
                  a.main-nav__link.js-main-nav-link(href="#catalog")
                    span.main-nav__link-number 03.
                    | Каталог

                li.main-nav__item
                  a.main-nav__link.js-main-nav-link(href="#portfolio")
                    span.main-nav__link-number 04.
                    | Наши работы

            address.page-header__address
              a.page-header__phone(href="tel:+79094930016") +7 (909) 493-00-16

              a.icon-button.icon-button_large.page-header__phone-button(href="tel:+79094930016")
                span.visually-hidden +7 (909) 493-00-16

                <svg width="22" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="m17.08 15.15-4.16.889c-2.808-1.555-4.544-3.342-5.554-6.127l.778-4.6L6.674 1H2.886C1.747 1 .851 2.038 1.021 3.28c.424 3.1 1.676 8.723 5.336 12.759 3.842 4.24 9.377 6.078 12.423 6.81 1.177.282 2.22-.73 2.22-2.058v-3.993l-3.92-1.648Z" stroke="#243048" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            button.icon-button.icon-button_large.menu-button.js-menu-button
              span.menu-button__label Меню

      
