@use '../../styles/variables' as *;

.section {
  padding: 55px 0 67px;
}

.section__title {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 1.05;
}

.section__title--complex {
  margin-bottom: 15px;
}

.section__subtitle {
  max-width: 864px;
  margin: 0 auto 57px;
}

.section__features {
  margin-top: 0;
  margin-bottom: 0;
}

.section__ordered-features {
  margin-top: 35px;
  margin-bottom: 0;
}

.section--more-notable {
  background: $bg-secondary url('../../img/section-bg.svg');

  .section__title,
  .section__subtitle {
    text-align: center;
  }
}

.section--most-notable {
  position: relative;
  color: $color-text-contrasting;
  background-color: $bg-primary;

  .section__title,
  .section__subtitle {
    text-align: center;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 7px;
    background:
      radial-gradient(3.5px at 50% 3.5px, $color-text-contrasting 99.9%, transparent 100%),
      radial-gradient(3.5px at 50% calc(100% - 3.5px), $color-text-contrasting 99.9%, transparent 100%);
  }

  &::before {
    left: 10px;
  }

  &::after {
    right: 10px;
  }
}

.section__cards {
  margin: 0;
}

.section__gallery {
  margin: 35px 0 0;
}

@media (min-width: $screen-md) {
  .section__text {
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: -45px;
      width: 5px;
      height: 100%;
      background-color: $color-border;
    }
  }

  .section__ordered-features {
    margin-top: 18px;
  }

  .section--most-notable {
    &::before,
    &::after {
      width: 9px;
      background:
        radial-gradient(4.5px at 50% 4.5px, $color-text-contrasting 99.9%, transparent 100%),
        radial-gradient(4.5px at 50% calc(100% - 4.5px), $color-text-contrasting 99.9%, transparent 100%);
    }
  }
  
}
