footer.page-footer
  .container.page-footer__content
    a.logo.page-footer__logo(href="/")
      img(src="img/logo-inversed.svg" alt="" width="44" height="49")

      span.logo__text Вибролит

    address.page-footer__address
      a.page-footer__phone(href="tel:+79094930016") +7 (909) 493-00-16

      br

      | г. Черкесск, ул. Ленина, 334
  
script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")
script(src="scripts/main.min.js")
