@use '../../styles/variables' as *;

.gallery {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

.gallery__item_promo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $color-text;
    padding: 30px;
    background-color: $bg-secondary;
}

.gallery__item-text {
    margin: 0;
    text-align: center;
}

.gallery__item-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $color-text;
    transition: all .15s ease-in-out;

    &:hover {
        border-bottom-color: transparent;
    }
}

@media (max-width: calc($screen-md - 1px)) {
    .gallery__item {
        &:nth-child(3),
        &:nth-child(4) {
            display: none;
        }
    }

    .gallery__item_promo {
        order: 1;
    }

    .gallery__img_tablet {
        display: none;
    }
}

@media (min-width: $screen-md) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px 5px;
    }

    .gallery__item {
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 10px;
            bottom: 10px;
            width: 7px;
            background-image:
                radial-gradient(3.5px at 50% 3.5px, $color-text-contrasting 99.9%, transparent 100%),
                radial-gradient(3.5px at 50% calc(100% - 3.5px), $color-text-contrasting 99.9%, transparent 100%);
        }

        &::before {
            left: 10px;
        }

        &::after {
            right: 10px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            grid-column: span 2;
        }
    }

    .gallery__item_promo {
        color: $color-text-contrasting;
        background-color: $bg-primary;
    }

    .gallery__item-text {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: calc(100% + 8px);
            width: 34px;
            height: 33px;
            background: url("../../img/link-icon.svg") center center no-repeat;
        }
    }

    .gallery__item-link {
        border-color: $color-text-contrasting;
    }

    .gallery__img_mobile {
        display: none;
    }
}