@use '../../styles/variables' as *;

.hero-section {
    padding: 130px 0 75px;
    background: $bg-secondary url('../../img/section-bg.svg');
}

.hero-section__title {
    margin-bottom: 42px;
    font-size: 50px;
    line-height: 1.05;
    text-align: center;
}

.hero-section__bordered-text {
    background: linear-gradient($color-border-huge, $color-border-huge) left 88% no-repeat;
    background-size: 100% 25px;
}

.hero-section__subtitle {
    margin-bottom: 40px;
    text-align: center;
}

@media (max-width: calc($screen-lg - 1px)) {
    .hero-section__title br {
        display: none;
    }
}

@media (min-width: $screen-md) {
    .hero-section__title {
        font-size: 62px;
    }

    .hero-section__subtitle {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: $screen-lg) {
    .hero-section__title {
        font-size: 72px;
    }
}